<a href="/games/<%= game.id %>">
  <div class='game_card'>
      <span class='game_card-title game_card-details'><%= game.title %></span>
      <span class='game_card-details'><%= game.victim %></span>
      <span class='game_card-details'><%= game.answerer_name %></span>
  </div>
</a>