<div id='game_card-collection'>
  <div type="button" class="game_card btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
    <span class='game_card-title game_card-details'>+</span>
    <span class='game_card-details'>New</span>
    <span class='game_card-details'>Game</span>
  </div>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class='new-user'>

        </div>
      </div>
    </div>
  </div>
  <a href="/games/new">
    <div class='game_card'>
        <span class='game_card-title game_card-details'>+</span>
        <span class='game_card-details'>New</span>
        <span class='game_card-details'>Game</span>
    </div>
  </a>
  <% @games.each do |game| %>
    <%= render partial: 'game_card', locals: {game: game} %>
  <% end %>
</div>