@import "bootstrap";

#logo {
  width: 150px;
}

.navbar-inverse {
  background-color: #202020;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
}

.nav-link {
  text-align: center;
  float: right;
  display: inline-block;
  color: white;
  padding: 15px 10px;
  max-width: 120px;
  height: 55px;
}

.nav-link:hover {
  text-decoration: none;
  background-color: #4d4d4d;
  color: white;
}

.nav-link:visited {
  text-decoration: none;
  color: white;
}

.nav-link:active {
  text-decoration: none;
  color: white;
}

body {
  background: url(/assets/bwlaughing2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#transparency {
  background: rgba(140, 0, 0, 0.4);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

#splashpage-screen {
  background: rgba(0, 0, 0, 0.8);
  width: 500px;
  min-height: 300px;
  border-radius: 10px;
  margin: 12% auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

#splashpage-logo {
  font-size: 70px;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

#splashpage-description {
  font-size: 20px;
  color: #fff;
  display: block;
}

#learn-more-button {
  display: block;
  margin-bottom: 30px;
  margin: 20px auto;
}

#splashpage-screen .btn-md {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.form-field {
  display: block;
  margin: 10px auto;
}

#login-form {
  margin: 10px auto;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
}

#signup-form {
  margin: 10px auto;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
}