<div id='transparency'>
  <div id='splashpage-screen'>
    <span id='splashpage-logo'>HotSeat</span>
    <!-- <button type="button" class="btn btn-default btn-block" id='learn-more-button'>Learn More</button> -->
    <span id='splashpage-description'>The laugh-out-loud game that will have you guessing how well you really know your fiance, friends, or family!</span>
<!--     <button type="button" class="btn btn-default btn-md" id="login">Login</button>
    <button type="button" class="btn btn-default btn-md" id="signup">Sign Up</button> -->
    <div id='signup-form-div'></div>
    <a href='#' id='login' class='splashpage-link hidden'>Login</a>
    <a href='#' id='signup' class='splashpage-link hidden'>Sign Up</a>
    <a href='#' id='learn-more' class='splashpage-link'>Learn More</a>
  </div>
</div>